<div id="dashboard">
	
	<h3> Dashboard </h3>
	<h4> Welcome, {{name}} </h4>
	
	<p> User Privileges: {{rank}} </p>
	
	<div *ngIf="rank=='super'">
		<app-superadmintoolbar></app-superadmintoolbar>
	</div>
	
	<div *ngIf="rank == 'group' || rank == 'super'">
		<app-groupadmintoolbar></app-groupadmintoolbar>
	</div>
	
	<div id="grpdiv">
		<h4> Groups </h4>
		<div *ngFor="let group of groups">
			<a (click) = getGroupData(group)>{{group}}</a>
		</div>
		<div id="activegroup"> 
			
		</div>
	</div>
	
	<div id="logoutdiv"> 
		<a href="#" (click)="logout()"> Log Out </a>
	</div>
</div>