<div>
	<a class = "hidetoggle" (click) = "hideToggle()">[{{hidemsg}} super admin dashboard]</a>
</div>
<div [hidden]=hide id="superadmintoolbar" class="toolbar">
	
	<h3> Super Administrator Toolbar </h3>
	
	<form (submit) = "promoteUser(prname)" class="toolbaritem">
	
		<h4> Promote User </h4>
	
		<div class="form-group">
			<input class="form-control" [(ngModel)]="prname" type="text" placeholder="Username" id="prname" name="prname">
		</div>
		
		<button type="submit" id="prusubmit">Promote</button>
		
	</form>
	
	
	<form (submit) = "demoteUser(dmname)" class="toolbaritem">
	
		<h4> Demote User </h4>
	
		<div class="form-group">
			<input class="form-control" [(ngModel)]="dmname" type="text" placeholder="Username" id="dmname" name="dmname">
		</div>
		
		<button type="submit" id="dmusubmit">Demote</button>
		
	</form>
	
	<form (submit) = "deleteUser(dlname)" class="toolbaritem">
	
		<h4> Delete User </h4>
	
		<div class="form-group">
			<input class="form-control" [(ngModel)]="dlname" type="text" placeholder="Username" id="dlname" name="dlname">
		</div>
		
		<button type="submit" id="dlusubmit">Demote</button>
		
	</form>
</div>
<div id="saErrmsg">
	{{errormsg}}
</div>