<div id="logindiv">
	<h3>
		Registration Page 
	</h3>
	
	<p> 
		Have an account? login <a routerLink="/register" routerLinkActive="active">here</a>
	</p>
	
	<form (submit)="createUser(name,mail,pass)">
		
		<label text="Username"> Username </label>
		<input [(ngModel)]="name" type="text" placeholder="Username" id="name" name="name">
		
		<label text="Email"> Email </label>
		<input [(ngModel)]="mail" type="text" placeholder="Email Address" id="mail" name="mail">
		
		<label text="Password"> Password </label>
		<input [(ngModel)]="pass" type="password" placeholder="Password" id="pass" name="pass">
			
		<button type="submit" id="submit">Register</button>
	</form>
</div>