<!--<!DOCTYPE html>-->
<html>
	<head>
		<title> Generic IRC Chat Name </title>
	</head>
	<body>
		<h1 class="t1"> 
			Generic IRC Chat Name
		</h1>
		<h2 class="h2">
			Register 
		</h2>
		<div id="logindiv">
			<label text="Username"> Username </label>
			<input type="text" id = "name" name = "name">
			
			<label text="Email"> Email </label>
			<input type="text" id = "mail" name = "mail">
			
			<label text="Password"> Password </label>
			<input type="password" id = "pass" name = "pass">
			
			<button type="submit" id="submit">Register</button>
		</div>
		<div id="errordiv"> 
		</div>
	</body>
</html>